@import "./scss/index.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Toastify {
  .Toastify__toast-container--top-center {
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateX(0%);

    .Toastify__toast--success {
      background-color: $background-primary;

      .Toastify__close-button {
        align-self: center;
      }
    }
  }
}

.ui.form {
  .field {
    .input {
      input {
        background: $background-grey-light;
        font-size: 16px;
        color: $font-light;
        border: 0;

        &:hover,
        &:active,
        &:focus {
          background-color: $background-grey-light-hover;
          color: $font-light;
          border: 0;
        }
      }

      i {
        color: $font-light;
      }
    }
  }

  .ui.button {
    width: 100%;
    margin-top: 20px;
    background-color: $primary-color;
    color: $font-light;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;

    &:hover {
      background-color: $primary-color-hover;
    }
  }

  .ui.dropdown {
    background-color: $background-grey-light;
    font-size: 16px;
    color: $font-light;
    border: 0;

    .search {
      color: $font-light;
    }

    .menu {
      background-color: $background-grey-light;
      border: 0;
      .item {
        border-color: $border-light-dark;
        color: $font-light;
      }
    }
  }
}
